@import 'tailwindcss';
@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/assets/fonts/LINESeedSansTH_W_Th.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/assets/fonts/LINESeedSansTH_W_Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/assets/fonts/LINESeedSansTH_W_Bd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/assets/fonts/LINESeedSansTH_W_XBd.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINESeedSansTH';
  src: url('/assets/fonts/LINESeedSansTH_W_He.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'LINESeedSansTH', var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'LINESeedSansTH', Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

input, textarea, button {
  user-select: auto;
  -webkit-user-select: auto;
}

.text-stroke-black {
  -webkit-text-stroke: 2.5px black;
  paint-order: stroke fill;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
